footer{
    background-color: #000;
    color: #fff;
    width: auto;
    position: flex;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    .logo{
        height: 100px;
        margin-bottom: 1rem;
        margin: auto;
    }
    .social-icons-container, .footer-menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .social-icon{
        height: 50px;
        width: 50px;
        border-radius: 0px;
        border: 1px solid #f2f2f2;
        background-image: url(../img/icons8-facebook-24.png);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        margin: 1rem;
        &:hover{
            background-color: #121212;
            filter: invert(1);
        }
    }
    .social-icon:nth-last-of-type(2){
        background-image: url(../img/icons8-instagram-24.png);
    }
    .social-icon:nth-last-of-type(3){
        background-image: url(../img/icons8-twitter-squared-24.png);
    }
    .social-icon:nth-last-of-type(4){
        background-image: url(../img/icons8-youtube-24.png);
    }
    
    .footer-menu-container{
        list-style-type: none;
        color: #f2f2f2;
        font-size: 18px;
    }
    .menu-item{
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
        &:hover{
            background-color: #121212;
            filter: invert(1);
        }
    }
    .copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
    font-family:'Noto Sans',sans-serif;
}
}
