section {
    background: url(../img/main.jpg);
    height: 972px;
    color: black;
    text-shadow: none;

    
    h3 {
        font-family: 'League Gothic', sans-serif;
        text-align: center;
        font-size: 25px;
        padding-top: 20px;
    }

    p {
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        padding-top: 10px;
        vertical-align: middle;
        font-size: 1.2rem;
    }

    button {
        display: block;
        margin: 0 auto;
        padding: 15px 15px 15px 15px;
        background-color: rgb(55, 182, 44);
        border-color: aliceblue;
        font-family: 'League Gothic', sans-serif;
        font-size: 36px;
        color: aliceblue;

        &:hover {
            background-color: rgb(33, 95, 27);
        }
    }

    h4 {
        font-family: 'League Gothic', sans-serif;
        text-align: center;
        font-size: 44px;
        padding-top: 10px;
    }

    .container-section {
        width: 700px;
        height: 100px;
        display: block;
        margin: 0 auto;

        @media(max-width:768px) {
            width: 100%;
        }
    }

    .container-section img {
        padding-top: 10px;
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media(max-width:768px) {
            width: 480px;
        }
    }

    article {
        .container-section-libro img {
            height: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .container-section-mesa img {
            height: 140px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .wrapper{
        width: 100%;

        }
        .carousel{
        max-width: 980px;
        margin: auto;
        padding: 0 ;
        }
        .carousel .card{
        color: #fff;
        text-align: center;
        margin: 5px 0;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
        height: 450px;
        width:300px;
        display: flex;
        position: relative;
        vertical-align: middle;
        h1 {
            font-family: 'League Gothic', sans-serif;
            font-size: 36px;
            line-height: 100px;
            color: white;
        }

        p {
            padding-top: 100px;
            font-family: 'League Gothic', sans-serif;
            font-size: 20px;
            vertical-align: middle;
        }
        }
        .carousel .card-1{           
        background-image: url(/img/card-sister.jpg);
        }
        .carousel .card-2{
        background: url(/img/card-space-marine.jpg);
        }
        .carousel .card-3{
        background: url(/img/card-mechanicus.jpg)
        }
        .carousel .card-4{
        background: url(/img/card-custodes.jpg)
        }
        .carousel .card-5{
        background: url(/img/card-astra-militarum.jpg);
        }
        .owl-dots{
        text-align: center;
        margin-top: 40px;
        }
        .owl-dot{
        height: 15px;
        width: 45px;
        margin: 0 5px;
        outline: none;
        border-radius: 14px;
        border: 2px solid #0072bc!important;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
        }
        .owl-dot.active,
        .owl-dot:hover{
        background: #0072bc!important;
        }
        }    